
<div class="line"></div>
<div class="line2"></div>
<div class="line3"></div>
<div class="container2">
    <div class="row2">
      <div class="column2">
        <div class="cell-container2">
          <div class="mov">
            <div class="mov-img">
              <img src="https://www.dataisnature.com/images/superformula_sanchTV.jpg">
            </div>
            <div class="text-movie-cont2">
              <div class="mr-grid">
                <div class="col1">
                  <h1>vvvv Develloper</h1>
                  <ul class="movie-gen2">
                    <h5>Since February, 2005</h5>
                  </ul>
                </div>
              </div>
              <div class="mr-grid summary-row">
                <div class="col2">
                  Stack
                </div>
              </div>
              <div class="mr-grid">
                <div class="col1">
                  <p class="movie-description2">
                    &#x2605; vvvv Framework<br>
                    &#x2605; HLSL, DX9/11<br>
                    &#x2605; C#<br>
                    &#x2605; IoT, Arduino<br>
                    &#x2605; Motion capture<br>
                    &#x2605; Processing<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container3">
    <div class="row3">
      <div class="column3">
        <div class="cell-container2">
          <div class="mov">
            <div class="mov-img">
              <img src="https://i.stack.imgur.com/n7hLf.png">
            </div>
            <div class="text-movie-cont2">
              <div class="mr-grid">
                <div class="col1">
                  <h1>Web Develloper</h1>
                  <ul class="movie-gen2">
                    <h5>Since June 23, 2022</h5>
                  </ul>
                </div>
              </div>
              <div class="mr-grid summary-row">
                <div class="col2">
                  Stack
                </div>
              </div>
              <div class="mr-grid">
                <div class="col1">
                  <p class="movie-description2">
                    &#x2605; Rails, Ruby<br>
                    &#x2605; HTML5, sCSS<br>
                    &#x2605; JS, jQuery<br>
                    &#x2605; SQL, PostgreSQL<br>
                    &#x2605; Docker<br>
                    &#x2605; Heroku, Azure<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
