@media screen and (max-width: 600px) and (max-height:900px) {
.cloud{

  position: center;
  margin-top: 250px;
  margin-left: 70px;
  font-size: 18px;
  // font-display: center;
  color: #4094f3;
}
}


