@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

$heading-font-family: 'Montserrat', sans-serif;
$paragraph-font-family: 'Open Sans', sans-serif;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$font-regular: 400;
$mont-bold: 700;

$text-movie-title:36px;
$text-summary:12px;
$text-action-btn:14px;
$text-movie-description:12px;

$accent-color: #fff;
$dark-color: #1e1b26;
.full{
  margin-top: -20px;
  color: #fff;
}
.container-show{
  width:100%;
  height:100%;
  margin-bottom: 10%;
  margin-top: -50%;
}
.title-show{
  font-family:$heading-font-family;
  font-size:34px;
  color: #4094f3;
  margin:0px;
  margin-left: 1470px;
  margin-top: 70px;
}

.video{
  width: 800px;
  transform: translate(400px,60px);
}
.movie-gen-show{
  margin-left:1475px;
  padding:0px;
    li{
    font-family:$paragraph-font-family;
    font-size:$text-summary;
    color:darken( $accent-color, 40% );
    width:80%;
    display:block;
    float:left;
    font-size:12px;
    margin-right:136px;
    margin-top: -5px;
    font-weight:$semi-bold;
  }
}

.summary {
  font-size:$text-summary;
  font-weight:$font-regular;
  transform: translate(1500px,-1025px);
  // position: absolute;
  display:block;
  font-size:18px;
  color:#f8d237;
  // z-index: 888;
}
.client {
  font-size:$text-summary;
  font-weight:$font-regular;
  transform: translate(1500px,-918px);
  // position: absolute;
  display:block;
  font-size:18px;
  color:#f8d237;
  // z-index: 888;
}

.credit {
  font-size:$text-summary;
  // font-weight:$font-regular;
  transform: translate(1500px,-915px);
  // position: absolute;
  display:block;
  font-size:14px;
  font-weight: 200;
  color:darken( $accent-color, 15% );
  // z-index: 888;
}
.movie-description-show {
  font-family:$paragraph-font-family;
  font-size:$text-movie-description;
  font-weight:$regular;
  color:darken( $accent-color, 15% );
  font-size:14px;
  width: 300px;
  height: 140px;
  text-align: justify;
  line-height: 1.3;
  transform: translate(1500px,-840px);
}

.back{
  font-size:1px;
  transform: translate(170px,-1210px);
  width: 20px;
  opacity: 40%;
}

.back:hover{
  opacity: 80%;
}

@keyframes byBottom2 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) and (max-height:900px) {

  // section {
  //   background-color: #1b1b1b;
  //   // position : block;
  //   transform : translate(1000px,0px);
  //   top: 80px;
  //   height: 1vh;
  //   width : 100%;
  // }
.full{
  width: 130%;
  // display:center;
  transform: translate(-220px,0px);
}
.title-show{
  font-family:$heading-font-family;
  font-size:24px;
  color: #4094f3;
  margin:0px;
  margin-left: 242px;
  margin-top: 35px;
}
.back{
  font-size:100px;
  transform: translate(250px,-50px);
  width: 200px;
  opacity: 40%;
}
.summary {
  font-size:$text-summary;
  font-weight:$font-regular;
  transform: translate(250px,-145px);
  position: center;
  font-size:16px;
  color:#f8d237;
  // z-index: 888;
}
.movie-description-show {
  font-family:$paragraph-font-family;
  font-size:$text-movie-description;
  font-weight:$regular;
  color:darken( $accent-color, 15% );
  font-size:14px;
  width: 330px;
  height: 140px;
  text-align: justify;
  line-height: 1.3;
  transform: translate(250px,40px);
}
.movie-gen-show{
  margin-left:245px;
  padding:0px;
    li{
    font-family:$paragraph-font-family;
    font-size:$text-summary;
    color:darken( $accent-color, 40% );
    width:80%;
    display:block;
    float:left;
    font-size:12px;
    margin-right:-80px;
    margin-top: -3px;
    font-weight:$semi-bold;
  }
}
.client {
  font-size:$text-summary;
  font-weight:$font-regular;
  transform: translate(250px,0px);

  // position: absolute;
  display:block;
  font-size:18px;
  color:#f8d237;
  // z-index: 888;
}

.credit {
  font-size:$text-summary;
  display:block;
  // font-weight:$font-regular;
  transform: translate(250px,0px);
  // position: absolute;
  // display:block;
  font-size:14px;
  font-weight: 200;
  color:darken( $accent-color, 15% );
  // z-index: 888;
}
}
